

.overallDiv{
  background-color: #cfcfcf;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 200px; 
}

 .resetPassword{
 border-color: black; 
 background-color: #e5e5e5;
 width: 600px;
 height: 100px;

}

.tutor-buddy{
 display: flex;
 padding: 30px;
 justify-content: center;
 background-color: #cfcfcf;
}
.tutor-buddy h3{
 padding-left: 10px;
}
.form-group{
  margin-top: 20px;
}
.form-group input{
/* padding: 8px 16px; */
gap: 10px;
width: 400px;
height: 40px;
color: #FFFFFF;
border: 1px solid #cfcfcf;

}
label{
  color: #050404;
  align-items: left;
  justify-content: left;
}
.learn{
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #050404;
}

.form-con{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 40px 60px;
gap: 40px;
text-align: left;
width: 550px;
height: 350px;

background: #FFFFFF;

}
.form-cont{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 30px;
gap: 40px;
text-align: left;
width: 600px;
height: 380px;

background: #FFFFFF;
}


.form-box{
  background-color: white;
}

.form-control{
  border-radius: 0;
  border: 1px solid #fff;
  border-color: rgb(187, 186, 186);
  width: 300px;
  height:48px;
  text-align: left;
}
.btn-primary {
padding: 8px 16px;
color:#fff;
gap: 10px;
width: 400px;
height: 40px;
  border: 1px solid #FD2959;
background: #FD2959;
margin-top: 10px;

} 
form p{
  text-align: center;
}
.login a{
  color:red;
  text-decoration:none;
}
.btn{
  color:#FFFFFF;
  text-decoration:none;
}